@tailwind base;
@tailwind components;
@tailwind utilities;

.work {
  background-image: url("../../public/work.png");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.skills {
  background-color: rgba(13, 202, 240, 0.15);
}
